<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Simon-Busch"><i class="fab fa-github"></i></a>
    <a href="https://web.facebook.com/simon.busch1/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/simonbusch89/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Developped by <span><a href="https://github.com/Simon-Busch" class="span-footer">Simon Busch</a></span></p>
  </div>
</div>