<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ytimg.com/vi/4FOghJzXuYg/maxresdefault.jpg);">
  <div class="container">
    <h1>Boozmania</h1>
    <%= link_to 'Create a cocktail', new_cocktail_path, class:"btn btn-primary rounded-lg" %>
  </div>
</div>
<%@cocktails.each do |cocktail|%>
<div class="card-product">
  <img src=<%=cocktail.img_url%> />
  <div class="card-product-infos">
    <h2><%=cocktail.name%></h2>
    <%= link_to 'Booze me !', cocktail_path(cocktail), class:"btn btn-warning" %>
  </div>
</div>

<%end%>