<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ytimg.com/vi/4FOghJzXuYg/maxresdefault.jpg);">
  <div class="container">
    <h1>Boozmania</h1>
    <%= link_to 'Create a cocktail', new_cocktail_path, class:"btn btn-primary rounded-lg" %>
  </div>
</div>
<%@cocktails.each do |cocktail|%>
<div class="card-product">
  <img src="https://253qv1sx4ey389p9wtpp9sj0-wpengine.netdna-ssl.com/wp-content/uploads/2016/06/TheBlanchard_Old-Fashioned_Neil-Burger.jpg" />
  <div class="card-product-infos">
    <h2><%=cocktail.name%></h2>
    <%= link_to 'Get more information', cocktail_path(cocktail), class:"btn btn-warning rounded-lg" %>
  </div>
</div>

<%end%>