<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ytimg.com/vi/4FOghJzXuYg/maxresdefault.jpg);">
  <div class="container">
    <h1>Welcome to <strong>Mister cocktails</strong></h1>
    <p>Create your own cocktail</p>
  </div>
</div>

<div class="btn-back">
  <%= link_to 'Back to main page', cocktails_path, class:"btn btn-danger" %>
</div>

<div class="container new-cocktail">
  <%= simple_form_for(@cocktail) do |f|%>
    <%=f.input :name %>
    <%=f.submit class:"btn btn-success"%>
  <% end %>
</div>  