// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: rgba(0,0,0,.9);
  color:white;
}
// rgb(255, 179, 179)
.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin-bottom: 30px;
  height: 400px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 46px;
  font-weight: light;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container {
  text-align: center;

  h1 {
    margin-bottom:1rem;
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 600px;
  margin: 15px auto;
  background-color: rgba(255,255,255,.2);
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.cocktail {
  height: auto;
  width: 400px;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  h2 {
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
  }
  &-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  ul {
    list-style: none;
    text-align:center;
    margin: 0;
    padding: 0;
  }

  p {
    text-align:center;
    text-decoration: underline;
  }
}

.btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.new-cocktail, .cocktail {
  background: rgba(lightgrey, .3);
  border-radius:10px;
  box-shadow: 3px 3px 3px rgba(255,255,255,.2);
  width :500px;
}

.cocktail {
  margin-bottom: 2rem;
  padding: 2rem;
}

.btn-back {
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}